@import '../variables';

.footer {
  width: 100%;
  height: max-content;
  padding: 50px 0;
  background-color: $secondary-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__container {
  width: 100%;
  max-width: $max-width;
}

.footer__list {
  margin-top: $height;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
