@import '../variables';

.info-card {
  border-radius: $border-max;
  background-color: $white;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
  width: 320px;
  height: 440px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
