@import '../variables';
@import '../components/infoCard';
@import '../base/square';
@import '../components/floatingCard';
@import '../components/selectionSquare';
@import '../components/screenView';
@import '../animations/_animations.scss';
@import '../responsive/landing-responsive';

.landing {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.landing__container {
  width: 100%;
  background-image: url('../assets/background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 1080px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.landing__header {
  width: 95%;
  max-width: $max-width;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0 0 0;
}

.landing__header-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.landing__header-text--size {
  width: 750px;
  height: max-content;
  padding: 20px 0;
}

.landing__header-img {
  width: 600px;
  height: 600px;
}

.landing__header-text-buttons {
  width: 420px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landing__header-text-buttons div {
  width: 200px;
}

.landing__container-cards {
  width: 95%;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 150px 0 0 0;
}

.landing__container-cards--up {
  transform: translateY(-70px);
}

.landing__squares {
  display: flex;
  width: 95%;
  max-width: 1400px;
  justify-content: space-between;
  align-items: center;
}


.landing__squares-item1 {
  transform: translateY(-560px) translateX(-40px);
  animation: square1 3s alternate infinite;
}

.landing__squares-item2 {
  transform: translateY(-300px) translateX(15px);
  animation: square2 3s alternate infinite;
}

.landing__squares-item3 {
  transform: translateY(-510px) translateX(-15px);
  animation: square3 3s alternate infinite;
}

.landing__squares-item4 {
  transform: translateY(-460px) translateX(40px);
  animation: square4 3s alternate infinite;
}

.landing__section {
  margin: 300px 0 100px 0;
}

.landing__section-text {
  width: 95%;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.landing__section-text-p {
  width: 700px;
  margin: 10px 0 0 0;
}

.landing__section--gray {
  width: 100%;
  padding: 70px 0;
  background-color: #f0f0f0;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing__section--white{
  width: 100%;
  padding: 70px 0;
  background-color:$white;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing__section--gray-text {
  width: 95%;
  max-width: 1400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.landing__section--gray-text-items {
  width: 450px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.landing__section--gray-text-pyramid {
  width: 600px;
  display: grid;
  grid-template-columns: 200px 200px 200px;
}

.landing__section--gray-text-pyramid div {
  display: flex;
  flex-direction: column;
  height: 500px;
  align-items: center;
  justify-content: center;
}

@mixin pyramid-item($color, $shadow) {
  border-radius: $border-max;
  background-color: $color;
  box-shadow: 0 0 30px 0 $shadow;
  height: 150px;
  width: 150px;
  margin: 15px;
  transition: all 300ms;
}

.landing__section--gray-text-pyramid-row1 div {
  @include pyramid-item($white, #00000010);
  animation: pyramid 4s alternate-reverse infinite;
}

.landing__section--gray-text-pyramid-row1 div:hover {
  background-color: #f8f8f8;
}

.landing__section--gray-text-pyramid-row2 div {
  @include pyramid-item($principal-color, $principal-shadow);
  animation: pyramid 4s 500ms alternate-reverse infinite;
}

.landing__section--gray-text-pyramid-row2 div:hover {
  background-color: #5521e4;
}

.landing__section--gray-text-pyramid-row3 div {
  @include pyramid-item($affirmative-color, $affirmative-shadow);
  animation: pyramid 4s 1000ms alternate-reverse infinite;
}

.landing__section--gray-text-pyramid-row3 div:hover {
  background-color: #00af86;
}

.landing__selection {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px 0 50px 0;
}

.landing__selection-container {
  width: 95%;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 50px 0;
}

.landing__selection-items {
  width: 95%;
  max-width: 1400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px 0 0 0;
}
