@import '../variables';

.signup__profesor {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.signup-type {
  width: 100%;
  height: 50px;
  margin: 20px 0 0 0;
  color: $principal-color;
  font-size: $text-mid;
  text-align: center;
  background-color: $affirmative-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-selector__card{
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 0 0;
}