/*
----------------------------------------------
 \ \   / /_ _ _ __(_) __ _| |__ | | ___  ___ 
  \ \ / / _` | '__| |/ _` | '_ \| |/ _ \/ __|
   \ V / (_| | |  | | (_| | |_) | |  __/\__ \
    \_/ \__,_|_|  |_|\__,_|_.__/|_|\___||___/
----------------------------------------------                                                        
                            made by TyP labs
*/

//google fonts - ROBOTO
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,100&display=swap');
$principal-font: 'Roboto';
$secondary-font: sans-serif;

//primary colors
$principal-color: #683ce4;
$secondary-color: #342844;
$background-color: #f5f5f5;
$transparent: #00000000;

//operation colors
$affirmative-color: #10e5b2;
$negative-color: #e62270;
$neutral-color: #ff7b30;

//byw colors
$black: #211432;
$white: #fff;

//gray scale colors
$dark-gray-color: #404059;
$light-gray-color: #91919d;
$border-light-gray-color: #e5e5e5;

//border round pixels
$border-min: 8px;
$border-max: 16px;
$border-huge: 32px;

//heigth
$height: 50px;

//font size pixels
$text-p: 14px;
$text-min: 18px;
$text-mid: 24px;
$text-big: 36px;
$text-huge: 64px;

//width
$max-width: 1400px;
