/*
-----------------------------
  ___           _           
 |_ _|_ __   __| | _____  __
  | || '_ \ / _` |/ _ \ \/ /
  | || | | | (_| |  __/>  < 
 |___|_| |_|\__,_|\___/_/\_\
-----------------------------        
            made by TyP labs
*/

@import './base/button';
@import './base/logo';
@import './base/card';
@import './base/textbox';
@import './variables';
@import './base/floatButton';
@import './base/text';
@import './variables';
@import './base/linker';
@import './components/navbar';
@import './base/selector';
@import './base/stateBar';
@import './components/footer';
@import './pages/landing';
@import './pages/SignUp';
@import './pages/SignUp__profesor';

body {
  @include font-family;
  background-color: $background-color;
  margin: 0;
  padding: 0;
  transition: all 300ms;
  zoom: 0.9;
}

html {
  transition: all 300ms;
  scroll-behavior: smooth;
}
