/*
-----------------------------
  ___           _           
 |_ _|_ __   __| | _____  __
  | || '_ \ / _` |/ _ \ \/ /
  | || | | | (_| |  __/>  < 
 |___|_| |_|\__,_|\___/_/\_\
-----------------------------        
            made by TyP labs
*/
/*
----------------------------------------------
 \ \   / /_ _ _ __(_) __ _| |__ | | ___  ___ 
  \ \ / / _` | '__| |/ _` | '_ \| |/ _ \/ __|
   \ V / (_| | |  | | (_| | |_) | |  __/\__ \
    \_/ \__,_|_|  |_|\__,_|_.__/|_|\___||___/
----------------------------------------------                                                        
                            made by TyP labs
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,100&display=swap");
.button-principal {
  background-color: #683ce4;
  color: #fff;
  border-radius: 8px;
  border-style: none;
  cursor: pointer;
  height: 50px;
  width: 100%;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  font-size: 14px;
  outline: none;
  font-family: "Roboto", sans-serif;
  padding: 0;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.button-principal:hover {
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}

.button-secondary {
  background-color: #00000000;
  color: #683ce4;
  border-radius: 8px;
  border-style: none;
  cursor: pointer;
  height: 50px;
  width: 100%;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  font-size: 14px;
  outline: none;
  font-family: "Roboto", sans-serif;
  padding: 0;
  border: 3px solid #683ce4;
}

.button-secondary:hover {
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}

.button-principal--white {
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  color: #683ce4;
  border-radius: 8px;
  border-style: none;
  cursor: pointer;
  height: 50px;
  width: 100%;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  font-size: 14px;
  outline: none;
  font-family: "Roboto", sans-serif;
  padding: 0;
}

.button-principal--white:hover {
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.button-secondary--white {
  background-color: #00000000;
  color: #fff;
  border-radius: 8px;
  border-style: none;
  cursor: pointer;
  height: 50px;
  width: 100%;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  font-size: 14px;
  outline: none;
  font-family: "Roboto", sans-serif;
  padding: 0;
  border: 3px solid #fff;
}

.button-secondary--white:hover {
  background-color: #fff;
  color: #683ce4;
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}

.button__container {
  width: 200px;
}

/*
----------------------------------------------
 \ \   / /_ _ _ __(_) __ _| |__ | | ___  ___ 
  \ \ / / _` | '__| |/ _` | '_ \| |/ _ \/ __|
   \ V / (_| | |  | | (_| | |_) | |  __/\__ \
    \_/ \__,_|_|  |_|\__,_|_.__/|_|\___||___/
----------------------------------------------                                                        
                            made by TyP labs
*/
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.logo__img {
  height: 50px;
  width: 50px;
}

.logo:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

/*
----------------------------------------------
 \ \   / /_ _ _ __(_) __ _| |__ | | ___  ___ 
  \ \ / / _` | '__| |/ _` | '_ \| |/ _ \/ __|
   \ V / (_| | |  | | (_| | |_) | |  __/\__ \
    \_/ \__,_|_|  |_|\__,_|_.__/|_|\___||___/
----------------------------------------------                                                        
                            made by TyP labs
*/
.card {
  border-radius: 16px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 50px;
  width: calc(100% + 2px - $height);
}

/*
----------------------------------------------
 \ \   / /_ _ _ __(_) __ _| |__ | | ___  ___ 
  \ \ / / _` | '__| |/ _` | '_ \| |/ _ \/ __|
   \ V / (_| | |  | | (_| | |_) | |  __/\__ \
    \_/ \__,_|_|  |_|\__,_|_.__/|_|\___||___/
----------------------------------------------                                                        
                            made by TyP labs
*/
.textbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.textbox__container {
  height: 46px;
  border-radius: 8px;
  background-color: #00000000;
  border: 2px solid #404059;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  width: calc(100% - 4px);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.textbox__input {
  outline: none;
  background-color: #00000000;
  border-radius: 8px;
  border-style: none;
  color: #211432;
  padding: 0;
  height: 42px;
  margin: 0 0 0 10px;
  width: calc(100% - 30px);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.textbox__img {
  height: 25px;
  width: 25px;
  margin-left: 10px;
}

.textbox__input:focus {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.textbox__input::-webkit-input-placeholder {
  color: #91919d;
}

.textbox__input:-ms-input-placeholder {
  color: #91919d;
}

.textbox__input::-ms-input-placeholder {
  color: #91919d;
}

.textbox__input::placeholder {
  color: #91919d;
}

/*
----------------------------------------------
 \ \   / /_ _ _ __(_) __ _| |__ | | ___  ___ 
  \ \ / / _` | '__| |/ _` | '_ \| |/ _ \/ __|
   \ V / (_| | |  | | (_| | |_) | |  __/\__ \
    \_/ \__,_|_|  |_|\__,_|_.__/|_|\___||___/
----------------------------------------------                                                        
                            made by TyP labs
*/
/*
----------------------------------------------
 \ \   / /_ _ _ __(_) __ _| |__ | | ___  ___ 
  \ \ / / _` | '__| |/ _` | '_ \| |/ _ \/ __|
   \ V / (_| | |  | | (_| | |_) | |  __/\__ \
    \_/ \__,_|_|  |_|\__,_|_.__/|_|\___||___/
----------------------------------------------                                                        
                            made by TyP labs
*/
.float-button {
  height: 50px;
  width: 50px;
  border-radius: 8px;
  background-color: #683ce4;
  cursor: pointer;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  right: 25px;
  bottom: 25px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.float-button__plus {
  font-size: 36px;
  color: #fff;
}

.float-button__value {
  font-size: 18px;
  color: #fff;
  display: none;
  margin: 0 0 0 10px;
  padding: 0;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.float-button:hover {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0 20px;
}

.float-button:hover .float-button__value {
  display: block;
}

/*
----------------------------------------------
 \ \   / /_ _ _ __(_) __ _| |__ | | ___  ___ 
  \ \ / / _` | '__| |/ _` | '_ \| |/ _ \/ __|
   \ V / (_| | |  | | (_| | |_) | |  __/\__ \
    \_/ \__,_|_|  |_|\__,_|_.__/|_|\___||___/
----------------------------------------------                                                        
                            made by TyP labs
*/
.text__h1 {
  font-size: 60px;
  color: #211432;
  margin: 0;
  padding: 0;
  cursor: default;
  font-weight: 400;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.text__h1--white {
  font-size: 60px;
  color: #fff;
  margin: 0;
  padding: 0;
  cursor: default;
  font-weight: 400;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.text__h2--black {
  font-size: 36px;
  color: #211432;
  margin: 0;
  padding: 0;
  cursor: default;
  font-weight: 400;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.text__h2--white {
  font-size: 36px;
  color: #fff;
  margin: 0;
  padding: 0;
  cursor: default;
  font-weight: 400;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.text__h2 {
  font-size: 36px;
  color: #404059;
  margin: 0;
  padding: 0;
  cursor: default;
  font-weight: 400;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.text__h3--black {
  font-size: 24px;
  color: #404059;
  margin: 0;
  padding: 0;
  cursor: default;
  font-weight: 400;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.text__h3--white {
  font-size: 24px;
  color: #fff;
  margin: 0;
  padding: 0;
  cursor: default;
  font-weight: 400;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.text__h3 {
  font-size: 24px;
  color: #91919d;
  margin: 0;
  padding: 0;
  cursor: default;
  font-weight: 400;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.text__h6--black {
  font-size: 18px;
  color: #404059;
  margin: 0;
  padding: 0;
  cursor: default;
  font-weight: 400;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.text__h6--white {
  font-size: 18px;
  color: #fff;
  margin: 0;
  padding: 0;
  cursor: default;
  font-weight: 400;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.text__h6 {
  font-size: 18px;
  color: #91919d;
  margin: 0;
  padding: 0;
  cursor: default;
  font-weight: 400;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.text__p {
  font-size: 14px;
  color: #404059;
  margin: 0;
  padding: 0;
  cursor: default;
  font-weight: 400;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.text__p--black {
  font-size: 14px;
  color: #211432;
  margin: 0;
  padding: 0;
  cursor: default;
  font-weight: 400;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.text__p--white {
  font-size: 14px;
  color: #fff;
  margin: 0;
  padding: 0;
  cursor: default;
  font-weight: 400;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.text__span {
  font-size: 14px;
  color: #404059;
  margin: 0;
  padding: 0;
  cursor: default;
  font-weight: 400;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.text__span--black {
  font-size: 14px;
  color: #211432;
  margin: 0;
  padding: 0;
  cursor: default;
  font-weight: 400;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.text__span--white {
  font-size: 14px;
  color: #fff;
  margin: 0;
  padding: 0;
  cursor: default;
  font-weight: 400;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

/*
----------------------------------------------
 \ \   / /_ _ _ __(_) __ _| |__ | | ___  ___ 
  \ \ / / _` | '__| |/ _` | '_ \| |/ _ \/ __|
   \ V / (_| | |  | | (_| | |_) | |  __/\__ \
    \_/ \__,_|_|  |_|\__,_|_.__/|_|\___||___/
----------------------------------------------                                                        
                            made by TyP labs
*/
/*
----------------------------------------------
 \ \   / /_ _ _ __(_) __ _| |__ | | ___  ___ 
  \ \ / / _` | '__| |/ _` | '_ \| |/ _ \/ __|
   \ V / (_| | |  | | (_| | |_) | |  __/\__ \
    \_/ \__,_|_|  |_|\__,_|_.__/|_|\___||___/
----------------------------------------------                                                        
                            made by TyP labs
*/
.linker {
  background-color: #00000000;
  color: #683ce4;
  border-radius: 8px;
  border-style: none;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  cursor: pointer;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  outline: none;
  height: 50px;
  margin: 0 10px 0 0;
}

.linker:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.linker--white {
  background-color: #00000000;
  color: #fff;
  border-radius: 8px;
  border-style: none;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  cursor: pointer;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  outline: none;
  height: 50px;
  margin: 0 10px 0 0;
}

.linker--white:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

/*
----------------------------------------------
 \ \   / /_ _ _ __(_) __ _| |__ | | ___  ___ 
  \ \ / / _` | '__| |/ _` | '_ \| |/ _ \/ __|
   \ V / (_| | |  | | (_| | |_) | |  __/\__ \
    \_/ \__,_|_|  |_|\__,_|_.__/|_|\___||___/
----------------------------------------------                                                        
                            made by TyP labs
*/
.navbar {
  width: 100%;
  height: 65px;
  background-color: #00000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 99;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.navbar--scroll {
  width: 100%;
  height: 65px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 99;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  -webkit-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  height: 75px;
}

.navbar--white {
  width: 100%;
  height: 65px;
  background-color: #00000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 99;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  position: fixed;
  top: 0;
}

.navbar--white--scroll {
  width: 100%;
  height: 65px;
  background-color: #683ce4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 99;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  position: fixed;
  top: 0;
  -webkit-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.2);
}

.navbar__container {
  width: 95%;
  max-width: 1400px;
  height: 60px;
  background-color: #00000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__linkers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__buttons {
  margin-left: 10px;
}

/*
----------------------------------------------
 \ \   / /_ _ _ __(_) __ _| |__ | | ___  ___ 
  \ \ / / _` | '__| |/ _` | '_ \| |/ _ \/ __|
   \ V / (_| | |  | | (_| | |_) | |  __/\__ \
    \_/ \__,_|_|  |_|\__,_|_.__/|_|\___||___/
----------------------------------------------                                                        
                            made by TyP labs
*/
.selector {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  border: 2px solid #404059;
  background-color: #00000000;
  color: #404059;
  border-radius: 8px;
  cursor: pointer;
  height: 100px;
  width: 100%;
  -webkit-transition: 300ms all;
  transition: 300ms all;
  outline: none;
}

.selector:hover {
  background-color: #683ce4;
  color: #fff;
  border: 2px solid #683ce4;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.selector--white {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  border: 2px solid #fff;
  background-color: #00000000;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  height: 100px;
  width: 100%;
  -webkit-transition: 300ms all;
  transition: 300ms all;
  outline: none;
}

.selector--white:hover {
  background-color: #683ce4;
  color: #fff;
  border: 2px solid #683ce4;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/*
----------------------------------------------
 \ \   / /_ _ _ __(_) __ _| |__ | | ___  ___ 
  \ \ / / _` | '__| |/ _` | '_ \| |/ _ \/ __|
   \ V / (_| | |  | | (_| | |_) | |  __/\__ \
    \_/ \__,_|_|  |_|\__,_|_.__/|_|\___||___/
----------------------------------------------                                                        
                            made by TyP labs
*/
.state-bar {
  height: 50px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.statebar__circle {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  border: 1px solid #404059;
  background-color: #00000000;
  margin: 0 5px;
}

.statebar__circle--selected {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  border: 1px solid #683ce4;
  background-color: #683ce4;
  margin: 0 5px;
}

/*
----------------------------------------------
 \ \   / /_ _ _ __(_) __ _| |__ | | ___  ___ 
  \ \ / / _` | '__| |/ _` | '_ \| |/ _ \/ __|
   \ V / (_| | |  | | (_| | |_) | |  __/\__ \
    \_/ \__,_|_|  |_|\__,_|_.__/|_|\___||___/
----------------------------------------------                                                        
                            made by TyP labs
*/
.footer {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 50px 0;
  background-color: #342844;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__container {
  width: 95%;
  max-width: 1400px;
}

.footer__list {
  margin-top: 50px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/*
----------------------------------------------
 \ \   / /_ _ _ __(_) __ _| |__ | | ___  ___ 
  \ \ / / _` | '__| |/ _` | '_ \| |/ _ \/ __|
   \ V / (_| | |  | | (_| | |_) | |  __/\__ \
    \_/ \__,_|_|  |_|\__,_|_.__/|_|\___||___/
----------------------------------------------                                                        
                            made by TyP labs
*/
/*
----------------------------------------------
 \ \   / /_ _ _ __(_) __ _| |__ | | ___  ___ 
  \ \ / / _` | '__| |/ _` | '_ \| |/ _ \/ __|
   \ V / (_| | |  | | (_| | |_) | |  __/\__ \
    \_/ \__,_|_|  |_|\__,_|_.__/|_|\___||___/
----------------------------------------------                                                        
                            made by TyP labs
*/
.info-card {
  -webkit-animation: info-card-load 1s forwards;
          animation: info-card-load 1s forwards;
  opacity: 0;
  border-radius: 16px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
  width: 320px;
  height: 440px;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

/*
----------------------------------------------
 \ \   / /_ _ _ __(_) __ _| |__ | | ___  ___ 
  \ \ / / _` | '__| |/ _` | '_ \| |/ _ \/ __|
   \ V / (_| | |  | | (_| | |_) | |  __/\__ \
    \_/ \__,_|_|  |_|\__,_|_.__/|_|\___||___/
----------------------------------------------                                                        
                            made by TyP labs
*/
.square {
  opacity: 0;
  -webkit-animation: info-card-load 1s 200ms forwards;
          animation: info-card-load 1s 200ms forwards;
  border-radius: 16px;
  background-color: #10e5b2;
  -webkit-box-shadow: 0 0 30px 0 #10e5b37f;
          box-shadow: 0 0 30px 0 #10e5b37f;
  height: 80px;
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.square__img {
  width: 44px;
  height: 44px;
}

/*
----------------------------------------------
 \ \   / /_ _ _ __(_) __ _| |__ | | ___  ___ 
  \ \ / / _` | '__| |/ _` | '_ \| |/ _ \/ __|
   \ V / (_| | |  | | (_| | |_) | |  __/\__ \
    \_/ \__,_|_|  |_|\__,_|_.__/|_|\___||___/
----------------------------------------------                                                        
                            made by TyP labs
*/
.floating-card {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.floating-card__circle {
  height: 350px;
  width: 350px;
  border-radius: 350px;
  background: linear-gradient(45deg, #683ce4, #10e5b2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.floating-card__square {
  height: 300px;
  width: 300px;
  background-color: #fff;
  border-radius: 16px;
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.floating-card__cards__item--green {
  background-color: #10e5b2;
  border-radius: 16px;
  -webkit-box-shadow: 0 0 30px 0 #10e5b27f;
          box-shadow: 0 0 30px 0 #10e5b27f;
  height: 75px;
  padding: 0 20px;
  width: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.floating-card__cards__item--violet {
  background-color: #683ce4;
  border-radius: 16px;
  -webkit-box-shadow: 0 0 30px 0 #683ce47f;
          box-shadow: 0 0 30px 0 #683ce47f;
  height: 75px;
  padding: 0 20px;
  width: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.floating-card__cards__item--img {
  width: 44px;
  height: 44px;
}

.floating-card__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  height: 0px;
}

.floating-card__cards-item1 {
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
  -webkit-animation: floating-cards 3s alternate infinite;
          animation: floating-cards 3s alternate infinite;
}

.floating-card__cards-item2 {
  -webkit-transform: translateY(-360px);
          transform: translateY(-360px);
  -webkit-animation: floating-cards2 3s alternate infinite;
          animation: floating-cards2 3s alternate infinite;
}

.floating-card__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 0px;
}

.floating-card__square--white {
  border-radius: 16px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
  height: 75px;
  width: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.floating-card__square--item1 {
  -webkit-transform: translateY(-350px);
          transform: translateY(-350px);
  -webkit-animation: floating-cards-square1 3s alternate infinite;
          animation: floating-cards-square1 3s alternate infinite;
}

.floating-card__square--item2 {
  -webkit-transform: translateY(-200px);
          transform: translateY(-200px);
  -webkit-animation: floating-cards-square2 3s alternate infinite;
          animation: floating-cards-square2 3s alternate infinite;
}

.floating-card__square--img {
  height: 44px;
  width: 44px;
  -webkit-transform: translateX(2px);
          transform: translateX(2px);
}

/*
----------------------------------------------
 \ \   / /_ _ _ __(_) __ _| |__ | | ___  ___ 
  \ \ / / _` | '__| |/ _` | '_ \| |/ _ \/ __|
   \ V / (_| | |  | | (_| | |_) | |  __/\__ \
    \_/ \__,_|_|  |_|\__,_|_.__/|_|\___||___/
----------------------------------------------                                                        
                            made by TyP labs
*/
.selection-square {
  width: 120px;
  height: 120px;
  border-radius: 16px;
  background-color: #10e5b2;
  -webkit-box-shadow: 0 0 30px 0 #10e5b27f;
          box-shadow: 0 0 30px 0 #10e5b27f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.selection-square__img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.selection-square:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 0 35px 0 #10e5b27f;
          box-shadow: 0 0 35px 0 #10e5b27f;
}

/*
----------------------------------------------
 \ \   / /_ _ _ __(_) __ _| |__ | | ___  ___ 
  \ \ / / _` | '__| |/ _` | '_ \| |/ _ \/ __|
   \ V / (_| | |  | | (_| | |_) | |  __/\__ \
    \_/ \__,_|_|  |_|\__,_|_.__/|_|\___||___/
----------------------------------------------                                                        
                            made by TyP labs
*/
.screen-view {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  width: 700px;
  height: 500px;
  border-radius: 32px;
  background-color: #fff;
  margin: 50px 0 0px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
}

.screen-view__sidebar {
  width: 100%;
  height: 500px;
  background-color: #683ce4;
  border-radius: 32px 0 0 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.screen-view__sidebar-logo {
  height: 50px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 20px;
  -webkit-transform: translateZ(50px);
          transform: translateZ(50px);
}

.screen-view__sidebar-bottom {
  width: 180px;
  height: 30px;
  border-radius: 8px;
  background-color: #ffffff23;
  margin: 10px 0;
  -webkit-transform: translateZ(40px);
          transform: translateZ(40px);
}

.screen-view__sidebar-items div {
  width: 180px;
  height: 30px;
  border-radius: 8px;
  background-color: #ffffff23;
  -webkit-transform: translateZ(70px);
          transform: translateZ(70px);
  -webkit-box-shadow: 0 0 70px 0 #00000020;
          box-shadow: 0 0 70px 0 #00000020;
  margin: 10px 0;
}

.screen-view__cards {
  width: 100%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.screen-view__cards-items {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateZ(50px);
          transform: translateZ(50px);
}

.screen-view__cards-items div {
  width: 120px;
  height: 120px;
  background-color: #f5f5f5;
  margin: 10px;
  border-radius: 16px;
}

.landing__selection-screen-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1400px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@-webkit-keyframes square1 {
  0% {
    -webkit-transform: translateY(-560px) translateX(-40px);
            transform: translateY(-560px) translateX(-40px);
  }
  100% {
    -webkit-transform: translateY(-580px) translateX(-50px);
            transform: translateY(-580px) translateX(-50px);
  }
}

@keyframes square1 {
  0% {
    -webkit-transform: translateY(-560px) translateX(-40px);
            transform: translateY(-560px) translateX(-40px);
  }
  100% {
    -webkit-transform: translateY(-580px) translateX(-50px);
            transform: translateY(-580px) translateX(-50px);
  }
}

@-webkit-keyframes square2 {
  0% {
    -webkit-transform: translateY(-300px) translateX(15px);
            transform: translateY(-300px) translateX(15px);
  }
  100% {
    -webkit-transform: translateY(-320px) translateX(25px);
            transform: translateY(-320px) translateX(25px);
  }
}

@keyframes square2 {
  0% {
    -webkit-transform: translateY(-300px) translateX(15px);
            transform: translateY(-300px) translateX(15px);
  }
  100% {
    -webkit-transform: translateY(-320px) translateX(25px);
            transform: translateY(-320px) translateX(25px);
  }
}

@-webkit-keyframes square3 {
  0% {
    -webkit-transform: translateY(-510px) translateX(-15px);
            transform: translateY(-510px) translateX(-15px);
  }
  100% {
    -webkit-transform: translateY(-530px) translateX(-25px);
            transform: translateY(-530px) translateX(-25px);
  }
}

@keyframes square3 {
  0% {
    -webkit-transform: translateY(-510px) translateX(-15px);
            transform: translateY(-510px) translateX(-15px);
  }
  100% {
    -webkit-transform: translateY(-530px) translateX(-25px);
            transform: translateY(-530px) translateX(-25px);
  }
}

@-webkit-keyframes square4 {
  0% {
    -webkit-transform: translateY(-460px) translateX(40px);
            transform: translateY(-460px) translateX(40px);
  }
  100% {
    -webkit-transform: translateY(-480px) translateX(60px);
            transform: translateY(-480px) translateX(60px);
  }
}

@keyframes square4 {
  0% {
    -webkit-transform: translateY(-460px) translateX(40px);
            transform: translateY(-460px) translateX(40px);
  }
  100% {
    -webkit-transform: translateY(-480px) translateX(60px);
            transform: translateY(-480px) translateX(60px);
  }
}

@-webkit-keyframes pyramid {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
}

@keyframes pyramid {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
}

@-webkit-keyframes floating-cards {
  0% {
    -webkit-transform: translateY(-60px) translateX(0px);
            transform: translateY(-60px) translateX(0px);
  }
  100% {
    -webkit-transform: translateY(-80px) translateX(-10px);
            transform: translateY(-80px) translateX(-10px);
  }
}

@keyframes floating-cards {
  0% {
    -webkit-transform: translateY(-60px) translateX(0px);
            transform: translateY(-60px) translateX(0px);
  }
  100% {
    -webkit-transform: translateY(-80px) translateX(-10px);
            transform: translateY(-80px) translateX(-10px);
  }
}

@-webkit-keyframes floating-cards2 {
  0% {
    -webkit-transform: translateY(-360px) translateX(0);
            transform: translateY(-360px) translateX(0);
  }
  100% {
    -webkit-transform: translateY(-380px) translateX(10px);
            transform: translateY(-380px) translateX(10px);
  }
}

@keyframes floating-cards2 {
  0% {
    -webkit-transform: translateY(-360px) translateX(0);
            transform: translateY(-360px) translateX(0);
  }
  100% {
    -webkit-transform: translateY(-380px) translateX(10px);
            transform: translateY(-380px) translateX(10px);
  }
}

@-webkit-keyframes floating-cards-square1 {
  0% {
    -webkit-transform: translateY(-350px) translateX(0px);
            transform: translateY(-350px) translateX(0px);
  }
  100% {
    -webkit-transform: translateY(-370px) translateX(-20px);
            transform: translateY(-370px) translateX(-20px);
  }
}

@keyframes floating-cards-square1 {
  0% {
    -webkit-transform: translateY(-350px) translateX(0px);
            transform: translateY(-350px) translateX(0px);
  }
  100% {
    -webkit-transform: translateY(-370px) translateX(-20px);
            transform: translateY(-370px) translateX(-20px);
  }
}

@-webkit-keyframes floating-cards-square2 {
  0% {
    -webkit-transform: translateY(-200px) translateX(0px);
            transform: translateY(-200px) translateX(0px);
  }
  100% {
    -webkit-transform: translateY(-220px) translateX(-20px);
            transform: translateY(-220px) translateX(-20px);
  }
}

@keyframes floating-cards-square2 {
  0% {
    -webkit-transform: translateY(-200px) translateX(0px);
            transform: translateY(-200px) translateX(0px);
  }
  100% {
    -webkit-transform: translateY(-220px) translateX(-20px);
            transform: translateY(-220px) translateX(-20px);
  }
}

@-webkit-keyframes info-card-load {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 1;
  }
}

@keyframes info-card-load {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 1;
  }
}

/*
----------------------------------------------
 \ \   / /_ _ _ __(_) __ _| |__ | | ___  ___ 
  \ \ / / _` | '__| |/ _` | '_ \| |/ _ \/ __|
   \ V / (_| | |  | | (_| | |_) | |  __/\__ \
    \_/ \__,_|_|  |_|\__,_|_.__/|_|\___||___/
----------------------------------------------                                                        
                            made by TyP labs
*/
@-webkit-keyframes square1--1450 {
  0% {
    -webkit-transform: translateY(-480px) translateX(20px);
            transform: translateY(-480px) translateX(20px);
  }
  100% {
    -webkit-transform: translateY(-520px) translateX(-20px);
            transform: translateY(-520px) translateX(-20px);
  }
}
@keyframes square1--1450 {
  0% {
    -webkit-transform: translateY(-480px) translateX(20px);
            transform: translateY(-480px) translateX(20px);
  }
  100% {
    -webkit-transform: translateY(-520px) translateX(-20px);
            transform: translateY(-520px) translateX(-20px);
  }
}

@-webkit-keyframes square2--1450 {
  0% {
    -webkit-transform: translateY(-350px) translateX(30px);
            transform: translateY(-350px) translateX(30px);
  }
  100% {
    -webkit-transform: translateY(-320px) translateX(0px);
            transform: translateY(-320px) translateX(0px);
  }
}

@keyframes square2--1450 {
  0% {
    -webkit-transform: translateY(-350px) translateX(30px);
            transform: translateY(-350px) translateX(30px);
  }
  100% {
    -webkit-transform: translateY(-320px) translateX(0px);
            transform: translateY(-320px) translateX(0px);
  }
}

@-webkit-keyframes square3--1450 {
  0% {
    -webkit-transform: translateY(-550px) translateX(-20px);
            transform: translateY(-550px) translateX(-20px);
  }
  100% {
    -webkit-transform: translateY(-520px) translateX(-50px);
            transform: translateY(-520px) translateX(-50px);
  }
}

@keyframes square3--1450 {
  0% {
    -webkit-transform: translateY(-550px) translateX(-20px);
            transform: translateY(-550px) translateX(-20px);
  }
  100% {
    -webkit-transform: translateY(-520px) translateX(-50px);
            transform: translateY(-520px) translateX(-50px);
  }
}

@-webkit-keyframes square4--1450 {
  0% {
    -webkit-transform: translateY(-480px) translateX(-20px);
            transform: translateY(-480px) translateX(-20px);
  }
  100% {
    -webkit-transform: translateY(-540px) translateX(-60px);
            transform: translateY(-540px) translateX(-60px);
  }
}

@keyframes square4--1450 {
  0% {
    -webkit-transform: translateY(-480px) translateX(-20px);
            transform: translateY(-480px) translateX(-20px);
  }
  100% {
    -webkit-transform: translateY(-540px) translateX(-60px);
            transform: translateY(-540px) translateX(-60px);
  }
}

@media screen and (min-width: 1551px) {
  .landing__squares-item1--1450 {
    display: none;
  }
  .landing__squares-item2--1450 {
    display: none;
  }
  .landing__squares-item3--1450 {
    display: none;
  }
  .landing__squares-item4--1450 {
    display: none;
  }
  .landing__squares-item1--1366 {
    display: none;
  }
  .landing__squares-item2--1366 {
    display: none;
  }
  .landing__squares-item3--1366 {
    display: none;
  }
  .landing__squares-item4--1366 {
    display: none;
  }
}

@media screen and (max-width: 1550px) {
  .landing__squares-item1--1366 {
    display: none;
  }
  .landing__squares-item2--1366 {
    display: none;
  }
  .landing__squares-item3--1366 {
    display: none;
  }
  .landing__squares-item4--1366 {
    display: none;
  }
  .landing__header-text {
    width: 650px;
  }
  .landing__header-text--size {
    width: 650px;
  }
  .landing__header-text--size h1 {
    font-size: 50px;
    width: 650px;
    margin: 0;
  }
  .landing__header-text--size h3 {
    width: 650px;
  }
  .landing__header-img {
    width: 650px;
    height: 650px;
  }
  .landing__header-text--size {
    width: 650px;
  }
  .info-card {
    width: 280px;
    height: 420px;
  }
  .landing__squares {
    display: none;
  }
  .landing__squares-item1 {
    display: none;
  }
  .landing__squares-item2 {
    display: none;
  }
  .landing__squares-item3 {
    display: none;
  }
  .landing__squares-item4 {
    display: none;
  }
  .landing__squares-item1--1450 {
    display: block;
    -webkit-transform: translateY(-480px) translateX(20px);
            transform: translateY(-480px) translateX(20px);
    -webkit-animation: square1--1450 3s alternate infinite;
            animation: square1--1450 3s alternate infinite;
  }
  .landing__squares-item2--1450 {
    display: block;
    -webkit-transform: translateY(-350px) translateX(30px);
            transform: translateY(-350px) translateX(30px);
    -webkit-animation: square2--1450 3s alternate infinite;
            animation: square2--1450 3s alternate infinite;
  }
  .landing__squares-item3--1450 {
    display: block;
    -webkit-transform: translateY(-550px) translateX(-20px);
            transform: translateY(-550px) translateX(-20px);
    -webkit-animation: square3--1450 3s alternate infinite;
            animation: square3--1450 3s alternate infinite;
  }
  .landing__squares-item4--1450 {
    display: block;
    -webkit-transform: translateY(-470px) translateX(-30px);
            transform: translateY(-470px) translateX(-30px);
    -webkit-animation: square4--1450 3s alternate infinite;
            animation: square4--1450 3s alternate infinite;
  }
}

@media screen and (max-width: 1550px) and (max-width: 1366px) {
  .screen-view {
    width: 450px;
    height: 300px;
  }
  .screen-view__sidebar {
    height: 300px;
  }
  .screen-view__sidebar-bottom {
    width: 100px;
    height: 20px;
  }
  .screen-view__sidebar-items div {
    width: 100px;
    height: 20px;
  }
  .screen-view__cards-items {
    width: 80%;
  }
  .screen-view__cards-items div {
    width: 90px;
    height: 90px;
    -webkit-transform: translateZ(30px) translateY(-100px);
            transform: translateZ(30px) translateY(-100px);
  }
  .info-card {
    width: 240px;
    height: 400px;
  }
  .landing__selection-screen-view {
    margin: 70px 0 0 0;
  }
}

.landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing__container {
  width: 100%;
  background-image: url("../assets/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1080px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing__header {
  width: 95%;
  max-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0 0 0;
}

.landing__header-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.landing__header-text--size {
  width: 750px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 20px 0;
}

.landing__header-img {
  width: 600px;
  height: 600px;
}

.landing__header-text-buttons {
  width: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing__header-text-buttons div {
  width: 200px;
}

.landing__container-cards {
  width: 95%;
  max-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 150px 0 0 0;
}

.landing__container-cards--up {
  -webkit-transform: translateY(-70px);
          transform: translateY(-70px);
}

.landing__squares {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  max-width: 1400px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing__squares-item1 {
  -webkit-transform: translateY(-560px) translateX(-40px);
          transform: translateY(-560px) translateX(-40px);
  -webkit-animation: square1 3s alternate infinite;
          animation: square1 3s alternate infinite;
}

.landing__squares-item2 {
  -webkit-transform: translateY(-300px) translateX(15px);
          transform: translateY(-300px) translateX(15px);
  -webkit-animation: square2 3s alternate infinite;
          animation: square2 3s alternate infinite;
}

.landing__squares-item3 {
  -webkit-transform: translateY(-510px) translateX(-15px);
          transform: translateY(-510px) translateX(-15px);
  -webkit-animation: square3 3s alternate infinite;
          animation: square3 3s alternate infinite;
}

.landing__squares-item4 {
  -webkit-transform: translateY(-460px) translateX(40px);
          transform: translateY(-460px) translateX(40px);
  -webkit-animation: square4 3s alternate infinite;
          animation: square4 3s alternate infinite;
}

.landing__section {
  margin: 300px 0 100px 0;
}

.landing__section-text {
  width: 95%;
  max-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.landing__section-text-p {
  width: 700px;
  margin: 10px 0 0 0;
}

.landing__section--gray {
  width: 100%;
  padding: 70px 0;
  background-color: #f0f0f0;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing__section--white {
  width: 100%;
  padding: 70px 0;
  background-color: #fff;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing__section--gray-text {
  width: 95%;
  max-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing__section--gray-text-items {
  width: 450px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.landing__section--gray-text-pyramid {
  width: 600px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 200px 200px;
      grid-template-columns: 200px 200px 200px;
}

.landing__section--gray-text-pyramid div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 500px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing__section--gray-text-pyramid-row1 div {
  border-radius: 16px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 30px 0 #00000010;
          box-shadow: 0 0 30px 0 #00000010;
  height: 150px;
  width: 150px;
  margin: 15px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  animation: pyramid 4s alternate-reverse infinite;
}

.landing__section--gray-text-pyramid-row1 div:hover {
  background-color: #f8f8f8;
}

.landing__section--gray-text-pyramid-row2 div {
  border-radius: 16px;
  background-color: #683ce4;
  -webkit-box-shadow: 0 0 30px 0 #683ce47f;
          box-shadow: 0 0 30px 0 #683ce47f;
  height: 150px;
  width: 150px;
  margin: 15px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  animation: pyramid 4s 500ms alternate-reverse infinite;
}

.landing__section--gray-text-pyramid-row2 div:hover {
  background-color: #5521e4;
}

.landing__section--gray-text-pyramid-row3 div {
  border-radius: 16px;
  background-color: #10e5b2;
  -webkit-box-shadow: 0 0 30px 0 #10e5b27f;
          box-shadow: 0 0 30px 0 #10e5b27f;
  height: 150px;
  width: 150px;
  margin: 15px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  animation: pyramid 4s 1000ms alternate-reverse infinite;
}

.landing__section--gray-text-pyramid-row3 div:hover {
  background-color: #00af86;
}

.landing__selection {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 150px 0 50px 0;
}

.landing__selection-container {
  width: 95%;
  max-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
}

.landing__selection-items {
  width: 95%;
  max-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0 0 0;
}

/*
----------------------------------------------
 \ \   / /_ _ _ __(_) __ _| |__ | | ___  ___ 
  \ \ / / _` | '__| |/ _` | '_ \| |/ _ \/ __|
   \ V / (_| | |  | | (_| | |_) | |  __/\__ \
    \_/ \__,_|_|  |_|\__,_|_.__/|_|\___||___/
----------------------------------------------                                                        
                            made by TyP labs
*/
.sign-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.sign-up__container {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 800px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sign-up__selector {
  margin: 50px 0 0 0;
  width: 100%;
  height: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*
----------------------------------------------
 \ \   / /_ _ _ __(_) __ _| |__ | | ___  ___ 
  \ \ / / _` | '__| |/ _` | '_ \| |/ _ \/ __|
   \ V / (_| | |  | | (_| | |_) | |  __/\__ \
    \_/ \__,_|_|  |_|\__,_|_.__/|_|\___||___/
----------------------------------------------                                                        
                            made by TyP labs
*/
.signup__profesor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.signup-selector_card {
  width: 400px;
  height: 500px;
}

.container-selector_card {
  width: 900px;
  padding: 150px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.signup-type {
  width: 100%;
  height: 150px;
  color: #683ce4;
  font-size: 24px;
  text-align: center;
  background-color: #10e5b2;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  zoom: 0.9;
}

html {
  -webkit-transition: all 300ms;
  transition: all 300ms;
  scroll-behavior: smooth;
}
/*# sourceMappingURL=index.css.map */