@import '../variables';

.card {
  border-radius: $border-max;
  background-color: $white;
  border: 1px solid $border-light-gray-color;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  height: max-content;
  padding: $height;
  width: calc(100% + 2px - $height);
}