@import '../variables';

.logo{
    display: flex;    
    align-items: center;
    transition: all 300ms;
    width: max-content;
}

.logo__img{
    height: $height;
    width: $height;
}

.logo:hover{
    transform: translateY(-3px);
}