@import '../variables';

.text__h1{
    font-size: $text-huge;
    color: $black;
    margin: 0;
    padding: 0;
    cursor: default;

    &.text__h1--white{
        color: $white;
    }
}


.text__h2{
    font-size: $text-big;
    color: $dark-gray-color;
    margin: 0;
    padding: 0;
    cursor: default;

    &.text__h2--black{
        color: $black;
    }

    &.text__h2--white{
        color: $white;
    }
}

.text__h3{
    font-size: $text-mid;
    color: $light-gray-color;
    margin: 0;
    padding: 0;
    cursor: default;

    &.text__h3--white{
        color: $white;
    }

    &.text__h3--black{
        color: $dark-gray-color;
    }
}

.text__h6{
    font-size: $text-min;
    color: $light-gray-color;
    margin: 0;
    padding: 0;
    cursor: default;

    &.text__h6--black{
        color: $dark-gray-color;
    }

    &.text__h6--white{
        color: $white;
    }
}

.text__p{
    font-size: $text-p;
    color: $dark-gray-color;
    margin: 0;
    padding: 0;
    cursor: default;

    &.text__p--black{
        color: $black;
    }

    &.text__p--white{
        color: $white;
    }
}

.text__span{
    font-size: $text-p;
    color: $dark-gray-color;
    margin: 0;
    padding: 0;
    cursor: default;

    &.text__span--black{
        color: $black;
    }

    &.text__span--white{
        color: $white;
    }
}